<% for  ( var i = 0; i < data.length; i++ ) {%>
<tr>
		<td class="blue"><%=data[i].ID%></td>

		<td class="blue"><%=data[i].Name%></td>

		<td class="blue"><%=data[i].Admin_Id%></td>

                <td class="blue"><%=data[i].Expiry%></td>
                
		<td class="yellow action">
			<span class="edit" id="row_<%=data[i].ID%>"></span>
			<span class="delete" ></span>
			<input type="checkbox" name="select_1" class="chcktb1"/>
		</td>
</tr>
<% } %>
