
<tr>
		<td class="blue">ID</td>

		<td class="blue">Name</td>

		<td class="blue">Admin_Id</td>

                <td class="blue">Expiry</td>
                
		<td class="yellow action">
			<span class="edit" ></span>
			<span class="delete" ></span>
			<input type="checkbox" name="select_1" class="chcktb1"/>
		</td>
</tr>